$boder: #a3a3a3;
$radius: 8px;
$lighterBoder: #dfdfdf;
$primary: #2c5ccb;
$hover: #1e3f8a;
$error: #CC0000;
$lighterBoder2: #bfd3ff;

$transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

$primary-blur: #e4ebf5;
$input: #e8f0fe;
$white: #fff;
$black: #000;
$textMuted: #8d8d8d;
