input#epos_customer_id {
  display: none;
  visibility: hidden;
}

#billing_point_field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  .member-tier {
    &__wrapper {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.point-info {
  &__container {
    margin: 1rem 0;
    padding: 1rem;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;

    .point-info__icon {
      margin-right: 0.75rem;
    }

    .point-info__detail {
      label {
        margin-bottom: 0.25rem;
      }

      .point-info__value {
        font-weight: bold;
      }
    }
  }
}
